<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CrystalReportsForm.Properties.Settings.TestGolfConnectionString"
            connectionString="Data Source=DESKTOP-2P5O1GE;Initial Catalog=TestGolf;Persist Security Info=True;User ID=sa;Password=CounterPoint8"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>